<section id="unsc" class="councils-section">
	<div id="unsc-main" class="row" align="center">
		<div class="col-md-10 col-lg-10" align="center">
			<div id = "unsc-title" align="center">
				<h1 class="agenda-page-title">{{ site.unsc-title }}</h1>
			</div>
			<div id="unsc-data" align="center">
				<ul class="timeline" align="center">
					<li align="left">
						<div class="about-council" align="left">
							<div class="about-text">
								<h4>{{ site.about-title }}</h4><br>
								{{ site.about-unsc-text }}<br>
								<button class="btn btn-responsive btn-primary read-more-button">
									Read More
								</button>
							</div>
							<i class="about-icon fa fa-institution">
							</i>
						</div>
					</li>
					<li align="right">
						<div class="about-council" align="right">
							<i class="about-icon fa fa-legal">
							</i>
							<div class="about-text">
								<h4>{{ site.agenda-title }}</h4><br>
								{{ site.unsc-agenda-text }}<br>
								<button class="btn btn-responsive btn-primary read-more-button">
									Read More
								</button>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>