<section id="unsc" class="councils-section">
	<div id="unsc-main" class="row">
		<div class="col-md-8" align="center">
			<div id = "unsc-title">
				<h1>site.unsc-title</h1>
			</div>
			<div id="unsc-data">
				<ul class="timeline">
					<li>
						<div class="timeline-badge primary" style="z-index:0">
							<i class="fa fa-institution"></i>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">About the Council</h3>
                                    <p>Lorem Ipsum</p>
                                    	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#SCabout">Read more..</button>
                                        	<div class="modal fade" id="SCabout" role="dialog">
                                            	<div class="modal-dialog">
	                                              <div class="modal-content">
                                                	<div class="modal-header">
                                                  	<button type="button" class="close" data-dismiss="modal">×</button>
                                                  <h4 class="modal-title">About UNGA</h4>
                                                </div>
                                                <div class="modal-body">
                                                  
                                                  <p>Lorem ipsum</p>
                                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>                                          
  	                                        </div>
  	                                      </div>
  	                                    </div>
                                    <div class="timeline-body">
                                <p></p>
                            </div>
                        </div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>