<!-- Begin Footer -->
<footer id="footer" class="footer">
	<div class="row">
		<div class="logo logo-footer logo-gray pull-right"></div>
	</div>
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row">
		<!-- Please don't delete this line-->
		<div class="col-md-6">
			<p class="copyright">
				&copy; 2014 Based on <a href="https://github.com/gdg-x/zeppelin" target="_blank">Project Zeppelin</a>. Designed by Vedant Chakravadhanula and Vrishank Bhardwaj</a>
			</p>
		</div>
	</div>
</footer>
<!-- End Footer -->
