<section id="reviews-section" class="about" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.reviewsBackgroundImage }});">
    <div class="content-wrapper">
        <div class = "horizontal-flex">
            <div class = "h-flex-img"> 
                <img class = "img-circle" src="{{ site.baseurl }}/img/about-section/{{ site.reviewsImage }}" alt="tempText">
            </div>
            <div class = "vertical-flex h-flex-content">
                <div class = "v-flex-item">
                    <h5>{{ site.reviewsTitle }}</h5>
                </div>
                <div class = "v-flex-item">
                    <p>{{ site.reviewsContent }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Begin Rockstar Speakers Section -->
<!-- <section id="rockstar-speakers" class="rockstar-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.rockstarSpeakersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 rockstar-speakers-list">
			<h3 id="rockstar-speaker-title">{{ site.rockstarSpeakersTitle }}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site.rockstarSpeakersButtonText }}</a>
			</span>
		</div>
	</div>
</section> -->
<!-- End Rockstar Speakers Section -->