<!-- Begin Sponsors section -->
<section id = "about" class = "about">
	<div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h4>{{ site.sponsors2Title }}</h4>
            <div class="row about-details">
                {% assign animationDelay = 0 %}
                {% for sponsor in site.sponsors2List %}
                {% assign colWidth = 12 | divided_by: 1 %}
                <div class="col-md-12 col-xs-6">  
                    <div class="animated hiding" data-animation="fadeInDown" data-delay="{{ animationDelay }}">
                        <!-- <h5>{{ sponsor.title }}</h5> -->
                        <img class="img-responsive" src="{{ site.baseurl }}/img/sponsor-logos/{{ sponsor.image }}" height = "128" width = "128" alt="{{ sponsor.title }}">
                        <!-- <p>{{ sponsor.text }}</p> -->
                    </div>
                </div>
                {% assign animationDelay = animationDelay | plus:500 %}
                {% assign check = forloop.index | modulo:2 %}
                {% if check == 0 %} <div class="clearfix visible-xs"></div> {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- End Sponsors section -->